DEPLOYER_KEY=0xabc123...
RPC_ZKSYNC=https://mainnet.era.zksync.io
RPC_BASE=https://mainnet.base.org
RPC_OPTIMISM=https://mainnet.optimism.io
RPC_ARBITRUM=https://arb1.arbitrum.io/rpc
RPC_POLYGON=https://polygon-rpc.com
LZ_ENDPOINT=0x0000000000000000000000000000000000000001
ETHERSCAN_API_KEY=
OPTIMISM_ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
POLYGONSCAN_API_KEY=
STARKNET_CHAIN_ID=23448594291968334
STARKNET_QUORUM_BPS=6000