SEPOLIA_RPC_URL=
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
SAFE_ADMIN_ADDRESS=
TOKEN_NAME=Zion Token
TOKEN_SYMBOL=ZION
INITIAL_SUPPLY=1000000
VOTING_DELAY=1
VOTING_PERIOD=45818
PROPOSAL_THRESHOLD=0
QUORUM_PERCENT=4
TIMELOCK_DELAY=3600
TRANSFER_TOKENS_TO_SAFE=false