# Yarn configuration for Netlify builds
# Disable immutable installs to allow dependency resolution
--install.enable-immutable-installs false
# Disable frozen lockfile for better conflict resolution
--install.frozen-lockfile false
# Enable network timeout for better reliability
--network-timeout 600000
# Disable deduplication to avoid conflicts
--install.dedupe false